/* css for decidim_dataspace */

.card__grid-external {
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(116 81 235 / var(--tw-ring-opacity, 1));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.card__grid-external:hover {
  cursor: pointer;
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(var(--tertiary-rgb) / var(--tw-ring-opacity, 1));
}
.card__grid-img-text {
  width: fit-content;
  padding: 0 10px;
  color: white;
  z-index: 10;
  position: relative;
  bottom: 90%;
  background-color: rgb(116 81 235 / var(--tw-ring-opacity, 1));
}
.card__grid-external:hover .card__grid-img-text {
  cursor: pointer;
  --tw-ring-opacity: 1;
  background-color: rgb(var(--tertiary-rgb) / var(--tw-ring-opacity, 1));
}
.card__grid-author {
  display:flex;
  align-items: center;
  margin-bottom: 0.75rem;
  margin-left: 1rem;
}
p.author_name{
  margin-left: 0.75rem;
}
.card__list-external {
  border-color: rgb(var(--tertiary-rgb) / var(--tw-ring-opacity, 1));
}
